<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title>Llistat de tracks</title>
    <link rel="icon" href="./img/npn.ico">    

</head>
<body>
    <%- dataJS %> 

<script>
    // Reb les dades dels tracks a dins de trackList
    // n=trackList.length;
    
    


    

</script>


</body>
</html>